<div class="modal fade.in modal-open" tabindex="-1" role="dialog" id="myModal" style="display:block;">
  <div class="modal-dialog modal-sm">
            <div class="modal-content" style="margin-top:80px;">

                <div class="modal-header">
                    <button type="button" class="close" ui-sref="admin.adscoops.clients-edit({id: clientID })" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myLargeModalLabel">{{ chargeType }} Charge</h4>
                </div>
                <div class="modal-body">
                	<div class="form-group">
                		<div class="input-group">
                			<span class="input-group-addon">$</span>
                			<input type="text" ng-model="chargeAmount" class="form-control">
                			<span class="input-group-btn">
								<button ng-click="chargeClient()" class="btn btn-primary">Charge</button>
                			</span>
                		</div>
                	</div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
