<style>
.modal .modal-body {
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}
</style>

<div ng-controller="BroadvidAdsWhitelistUaGroupsEditCtrl" class="modal fade.in modal-open" tabindex="-1" role="dialog" id="myModal" style="display:block;">
  <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" ui-sref="admin.broadvidads" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myLargeModalLabel" ng-bind="group.Name"></h4>
                </div>
                <div class="modal-body">
					<div class="form-group">
						<label for="name" class="control-label">Name</label>
						<input type="text" name="name" ng-model="group.Name" class="form-control">
					</div>

					<table class="table table-condensed table-striped table-hover">
						<thead>
							<tr>
								<th>User Agent</th>
								<th style="width:10px;">Remove</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="u in group.Uas">
								<td>
									<span ng-bind="u"></span>
									<input type="hidden" name="url[]" ng-value="u">
								</td>
								<td colspan="1">
									<span class="btn btn-xs btn-danger" ng-click="removeUrl($index)">Remove</span>
								</td>
							</tr>
							<tr>
								<td>
									<input type="text" name="url" id="" style="width:100%;" class="form-control" ng-model="uNew" placeholder="Enter new User Agent here" onkeydown="if (event.keyCode == 13) { return false;}" >
								</td>
								<td style="width:10px;">
									<span class="btn btn-primary" ng-click="addUrl()">Add</span>
								</td>
							</tr>
						</tbody>
					</table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" ui-sref="admin.broadvidads">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveGroup()">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div ui-view></div>
