<!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--UI Adscoops-->
        <li ui-sref-active="open">
            <a ui-sref="admin.adscoops" class="menu-dropdown">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text"> Adscoops </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">

                <li ui-sref-active="open">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Clients
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a ui-sref="admin.adscoops.clients-viewall">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">View All</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.adscoops.clients-new">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">New</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a  ui-sref="admin.adscoops.campaigns-viewall">
                        <span class="menu-text">
                            Campaigns
                        </span>
                    </a>
                </li>

                <li>
                    <a  ui-sref="admin.adscoops.campaign-groups-viewall">
                        <span class="menu-text">
                            Campaign Groups
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Redirects
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a ui-sref="admin.adscoops.redirects-viewall">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">View All</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.adscoops.redirects-new">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">New</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <!--UI Adscoops-->
        <li ui-sref-active="open">
            <a ui-sref="admin.broadvidads" class="menu-dropdown">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text"> Broadvid Ads </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">

                <li ui-sref-active="open">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Ads
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu" >
                        <li>
                            <a ui-sref="admin.broadvidads.ads-viewall">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">View All</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.broadvidads.ads-new">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">New</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="open">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Embeds
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a ui-sref="admin.broadvidads.embeds-viewall">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">View All</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.broadvidads.embeds-new">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">New</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="open">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Whitelist URL Groups
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a ui-sref="admin.broadvidads.whitelisturlgroups-viewall">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">View All</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.broadvidads.whitelisturlgroups-new">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">New</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="open">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Blacklist URL Groups
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a ui-sref="admin.broadvidads.blacklisturlgroups-viewall">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">View All</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.broadvidads.blacklisturlgroups-new">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">New</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="open">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Whitelist UA Groups
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a ui-sref="admin.broadvidads.whitelistuagroups-viewall">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">View All</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.broadvidads.whitelistuagroups-new">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">New</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="open">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Whitelist Country Groups
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a ui-sref="admin.broadvidads.whitelistcountrygroups-viewall">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">View All</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.broadvidads.whitelistcountrygroups-new">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">New</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                  <a ui-sref="admin.broadvidads.flushadcache"><span class="menu-text">Flush Ad Cache</span></a>
                </li>
            </ul>
        </li>
        <!--UI Adscoops-->
        <li ui-sref-active="open">
            <a  ui-sref="admin.broadvidvideos" class="menu-dropdown">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text"> Broadvid Videos </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">

                <li ui-sref-active="open">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            RSS
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a ui-sref="admin.broadvidvideos.rss-viewall">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">View All</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.broadvidvideos.rss-new">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">New</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="open">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Embeds
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a ui-sref="admin.broadvidvideos.embeds-viewall">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">View All</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.broadvidvideos.embeds-new">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">New</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="open">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Redirects
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a ui-sref="admin.broadvidvideos.redirects-viewall">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">View All</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.broadvidvideos.redirects-new">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">New</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="open">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Inject JS
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a ui-sref="admin.broadvidvideos.injectjs-viewall">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">View All</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.broadvidvideos.injectjs-new">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">New</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="open">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Themes
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a ui-sref="admin.broadvidvideos.themes-viewall">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">View All</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.broadvidvideos.themes-new">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">New</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="open">
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            Domains
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a ui-sref="admin.broadvidvideos.domains-viewall">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">View All</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="admin.broadvidvideos.domains-new">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">New</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a ui-sref="admin.settings">
                <i class="menu-icon glyphicon glyphicon-fire themesecondary"></i>
                <span class="menu-text">
      System Settings
                </span>
            </a>
        </li>
    </ul>
    <!-- /Sidebar Menu -->
