<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <!--<title>{{.title}}</title>-->
</head>
<body>
<p>sdshdshdjisa</p>
<p>{{.title}}</p>
</body>

<!--{{ if ne .Error "" }}-->
<!--<p><strong>Error: </strong> {{ .Error }}</p>-->
<!--{{ end }}-->
<!--<form action="" method="POST">-->
<!--<input type="hidden" name="client_id" value="{{ .AdscoopClient.Id }}">-->
<!--<input type="hidden" name="hash" value="{{ .AdscoopPaymentHash.Hash }}">-->
<!--&lt;!&ndash;<script&ndash;&gt;-->
<!--&lt;!&ndash;src="https://checkout.stripe.com/checkout.js" class="stripe-button"&ndash;&gt;-->
<!--&lt;!&ndash;data-key="{{ .Config.StripePublishKey }}"&ndash;&gt;-->
<!--&lt;!&ndash;data-amount="{{ .AdscoopClient.ChargeAmount}}"&ndash;&gt;-->
<!--&lt;!&ndash;data-name="Adscoop"&ndash;&gt;-->
<!--&lt;!&ndash;data-description="Recurring Advertising Subscription">&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
</html>